h3 {
    border-style: solid;
    border-width: medium;
    border-color: #00AE92;
    background-color: #00AE92;
    color: white;
    text-align: center;
    margin-right: 8%;
    margin-left: 8%;
  }
  .Container {
    display: flex;
  }
  form {
    padding: 20px;
    border: 3px solid #00AE92;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: -10px;
    margin-bottom: 50px;
    background-color: rgb(251, 253, 253);
    gap: 10px;
    flex-direction: row;
  }
  
  .formInput{
    width: calc(90% - 12px);
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #00AE92;
    border-radius: 4px;
    margin-top: 8px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(251, 253, 253);  
  }
  
  .phone:focus {
    border-color: #018a73;
    outline: none;
  }


label {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 5%;
  }
.button{
  background-color: #15a18c;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-color: #018a73;
  position: center;
  margin-top: 8px;
  border-radius: 5px;

}
button{
    color: white;
    border:#018a73;
  }
  
button:hover {
    background-color: #5cb9aa;
  }

 
  .box-1 {
    height:650px;
    flex: 1;
  
  }  
  .box-2 {
    flex: 1;
    height:600px;

  }
  @media (max-width: 400px) {
  .Container {
    flex-direction: column;
  }
  }
  p {
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 8px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  
  